@use './common' as *;
@use './variables' as *;

h1 {
    // text-shadow: -1.5rem 1rem 1rem $ms-secondary;
    color: $ms-light;
}

p {
    text-align: justify;
}

.profile-img-wrapper {
    max-height: 400px;
    aspect-ratio: 1/1;
    border-radius: .25rem;
    overflow: hidden;
    box-shadow: -1.5rem 1rem 3rem $ms-secondary;

    .profile-img {
        max-height: 100%;
        object-fit: cover;
    }
}

.technologies-wrapper {
    min-height: 100px;
    width: 100%;
    box-shadow: -1rem 1rem 2.5rem $ms-secondary;
    background-color: rgba($ms-secondary, 1);
    transition: .25s all ease-in-out;

    &:hover {
        background-color: rgba($ms-light, 1);

    }

    // border: 4px solid $ms-secondary;

    img {
        aspect-ratio: 1 / 1;
        width: 50px;
    }
}

.carousel {
    overflow: hidden;
    border-radius: .25rem;

    &:hover .carousel-item {
        filter: brightness(100%);

    }

    .carousel-item {
        height: 400px;
        filter: brightness(80%);
        transition: .25s all ease-in-out;
        position: relative;
        overflow-y: hidden;

        img {
            min-height: 100%;
            object-fit: cover;
        }

        .carousel-caption {
            height: 100%;
            width: 100%;
            // background-color: rgba($ms-tertiary, .55);
            position: absolute;
            top: 0;
            left: 0;

            h4 {
                background-color: rgba($ms-secondary, .75);
                padding: 1rem;
                border-radius: .25rem;
            }

            .badge {
                background-color: rgba($ms-secondary, .75);
            }
        }
    }
}

.call-to-action-btn {
    display: block;
    width: max-content;
    background-color: $ms-secondary;
    color: $ms-light;
    text-decoration: none;
    transition: .25s all ease-in-out;
    border-radius: .25rem;
    padding: .5rem 5rem;
    font-size: 1.75rem;
    font-weight: lighter;

    &:hover {
        background-color: $ms-tertiary;
        color: $ms-primary;
    }
}