@use './common' as *;
@use './variables' as *;

.project_image {
    object-fit: cover;
    object-position: top;
    filter: brightness(80%);
    transition: .25s all ease-in-out;

    &:hover {
        filter: brightness(100%);
    }
}