@use './common' as *;
@use './variables' as *;


.card {
    transition: .25s all ease-in-out;

    &:hover {
        .project_image {

            filter: brightness(100%);

        }

        .card-body {
            font-weight: bolder;
            background-color: rgba($ms-dark, .2);
        }

        .description {
            font-weight: lighter;
        }
    }

    .card-body {
        color: $ms-light;
        background-color: rgba($ms-dark, .4);
    }

    .project_image {
        object-fit: cover;
        object-position: top;
        filter: brightness(80%);
        transition: .25s all ease-in-out;
    }
}

.description {
    font-weight: light;
    background-color: rgba($ms-dark, .25);
    border-radius: .25rem;
    padding: .5rem;
}